.blog_container {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.875rem;
}

.blog_card {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--container-color);
}

.blog_thumb {
  position: relative;
  overflow: hidden;
}


.blog_img {
  transform: scale(1);
  transition: .3s;
}

.blog_card:hover .blog_img {
  transform: scale(1.1); 
}

.blog_details {
  background-color: var(--container-color);
  padding: 1.25rem;
}

.blog_title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}

.blog_meta {
  display: flex;
  column-gap: 0.6rem;
  font-size: var(--small-font-size);
  color: #8b88b1;
}
.blog_dot {
  font-weight: var(--font-bold);
}

.more_blog-link:hover {
  color: var(--first-color);
}

@media screen and (max-width: 1024px) {
  .blog_container {
    grid-template-columns: repeat(2, 360px);
    justify-content: center;
    gap: 1.875rem;
  }
}

@media screen and (max-width: 768px) {
  .blog_container {
    grid-template-columns: 1fr;
    margin: 0 2rem;
    row-gap: 1.875rem;
  }
  .blog_card {
    max-width: 330px;
    margin: 0 auto;
  }
}